.row
  .col-xs-6
    %table.table
      %thead
        %tr
          %th{colspan:2} Filtrar por:
      %tbody
        %tr
          %th Nome
          %td= text_field_tag :filter, nil
  .col-xs-6.align-right
    %br
    %br
    =link_to "Incluir usuário", new_user_path

%hr

%ul
  - @users.each do |user|
    %li.user-record
      = link_to user.name, user
      %br
      E-mail: #{user.email}