.row
  .col-md-8
    %h2 Publicação
  .col-md-4{style:"text-align:right"}
    / %br= link_to 'Exportar', '#'
    %br
    - if current_user.admin?
      - if @pub.enabled
        = link_to 'Desativar', disable_pub_path(@pub), onclick: 'return confirm("Deseja desativar esta produção?")'
      - else
        = link_to 'Ativar', enable_pub_path(@pub)

%hr

%h4= @pub.titulo
= render @pub._type.downcase
